#sliderdiv{
    width: 500px;
    height: 200px;
    background-color: rgba(0, 242, 255, 0.494);
    padding: 10px;
    margin-top: 200px;
    border-radius: 25px;
    margin-left: 33%;
    padding-top: 20px;
    outline-style: solid;
    outline-width: 2px;
}
.slider{
    justify-content: center;
    align-items: center;
   

}
.top,#meter{
    color: rgb(0, 92, 200);
    
}
.caption,.value{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;

}
#range{
    width: 500px;
    
}
.value{
 margin-right:10px;
}

.sub{
   margin-left: 100px;
   justify-content: flex-start;
   align-items: flex-start;
}
